#login-container {
    margin-top: 200px;
}

#login-container h2,
#login-container button,
#login-container form{
    width: 100%;
}

#login-container button{
    margin-top: 20px;
}

#login-container .form-label {
    float: left;
}